<h1>New user</h1>




    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                 <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log twat in</a>
                 <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a></div>
            <div class="col-sm-4"></div>
        </div>


     <div class="modal fade login" id="loginModal">
          <div class="modal-dialog login animated">
              <div class="modal-content">
                 <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login with</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                             <div class="content">
                                <div class="social">
                                    <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox">
                                    <form method="post" action="/login" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                    <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                             <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                                <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>
              </div>
          </div>
      </div>
    </div>



<script>
  function showRegisterForm(){
      $('.loginBox').fadeOut('fast',function(){
          $('.registerBox').fadeIn('fast');
          $('.login-footer').fadeOut('fast',function(){
              $('.register-footer').fadeIn('fast');
          });
          $('.modal-title').html('Register with');
      });
      $('.error').removeClass('alert alert-danger').html('');

  }
  function showLoginForm(){
      $('#loginModal .registerBox').fadeOut('fast',function(){
          $('.loginBox').fadeIn('fast');
          $('.register-footer').fadeOut('fast',function(){
              $('.login-footer').fadeIn('fast');
          });

          $('.modal-title').html('Login with');
      });
       $('.error').removeClass('alert alert-danger').html('');
  }

  function openLoginModal(){
      showLoginForm();
      setTimeout(function(){
          $('#loginModal').modal('show');
      }, 230);

  }
  function openRegisterModal(){
      showRegisterForm();
      setTimeout(function(){
          $('#loginModal').modal('show');
      }, 230);

  }

  function loginAjax(){
      /*   Remove this comments when moving to server
      $.post( "/login", function( data ) {
              if(data == 1){
                  window.location.replace("/home");
              } else {
                   shakeModal();
              }
          });
      */

  /*   Simulate error message from the server   */
       shakeModal();
  }

  function shakeModal(){
      $('#loginModal .modal-dialog').addClass('shake');
               $('.error').addClass('alert alert-danger').html("Invalid email/password combination");
               $('input[type="password"]').val('');
               setTimeout( function(){
                  $('#loginModal .modal-dialog').removeClass('shake');
      }, 1000 );
  }

</script>