<h1>INDEX</h1>

<%= form_tag pages_path, :method => 'get' do %>
  <%= text_field_tag :search_box, nil, :placeholder => "Enter a search", :required => true%>
  <button id="search">Search</button>
<% end %>










<script type="text/template" id="result-template">

  <article>
    <h2><a href='#'> {{ name }} </a></h2>
    <p class="hiddensongs">Phone Number: {{ phone }} </p>
    <p class="hiddensongs">Tour: {{ tour }} </p>
    <p hidden class="eventId"> Address: {{ address }} </p>
    <p hidden class="hidden_songs"> City: {{ city }} </p>
  </article>

</script>






<script>

   _.templateSettings = {
  interpolate: /\{\{(.+?)\}\}/g
  };

var displayData = function(Id, name, phone, address, city, postcode, statecode) {
console.log('displayData');
    var $templateFunc = _.template($('#result-template').html());
    var htmlOutput = $templateFunc( {
      Venue: name,
      phone: phone,
      address: address,
      city: city,
      postcode: postcode,
      state: state } );

      // debugger;

    // console.log(htmlOutput);
    $('#output').append(htmlOutput);

  }

   var $button = $('#search');

    $button.on('click', function() {

      $('#output').empty();

      var $inputVal = $('#search_box').val();
console.log($inputVal);
      var search = {
        url: '/pages/search_json',
        dataType: 'json'
      };

      $.ajax(search).done(function(data) {
          var Id = data.businesses[0].id;
          var name = data.businesses[0].name;
          var phone = data.businesses[0].phone;
          var address = data.businesses[0].location.address[0];
          var city = data.businesses[0].location.city;
          var postcode = data.businesses[0].location.postal_code;
          var statecode = data.businesses[0].location.statecode;

// debugger;
          displayData(Id, name, phone, address, city, postcode, statecode)
          // console.log(displayData);
        });
      });

</script>




